.c-editor-left {
  border-right: solid 1px #ccc;
  overflow: auto;
  width: 10em;
  height: 100%;
  flex: none;
}


.c-editor-left__item {
  padding: 5px 10px;
  margin: 2px 0;

  &.is-sticky {
    position: sticky;
    bottom: 2px;
    background: #aaa;
  }
}
